<h1>Bem vindo(a)!</h1>
<p>Esta é uma simples aplicação que serviu como exercício para colocar em prática conhecimentos adquiridos após um curso de Ruby on Rails.</p>
<p>Toda a programação foi feita sem utilizar recursos rápidos como o Scaffold para, justamente, treinar a lógica dos códigos.</p>
<p>Utilizei o bootstrap como ferramenta principal para o Frontend.</p>
<p>Para ver todos os recursos implementados crie um cadastro e finja que é um novo administrador no sistema para registrar clientes</p>

