<% if resource.errors.any? %>
  <div id="error_explanation">

    <script> 
    window.addEventListener('load', function() {
    // Code to be executed after the page has loaded goes here
    <% resource.errors.full_messages.each do |message| %>
      $.notify("<%=message %>", "error");
    <% end %>
    });
    </script>     
  </div>
<% end %>
